{{!< layout}}

<div>

<h1>Caro Game</h1>
    <div class="d-flex justify-content-between p-2 sticky-top">
      <div class="btn btn-default turnX">X play</div>
      <div class="btn btn-default turnO">O play</div>
    </div>
    <table id="caro_gameTable" ></table>

    <div class="confetti hidden">
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="confetti-piece"></div>
      <div class="winner">
        <h1 class="title" style="text-shadow: 2px 2px #141414;">X win!!!</h1> 
        <div class="text-secondary">(Click anywhere to continue)</div>
      </div>
    </div>

    <script src="./js/caro.js"></script>
</div>