{{!< layout}}

<div>
    {{!-- {{ message }} --}}
    <div class="row gap-2">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a class="nav-link" href="/line98">
                <img class="card-img-top" src="./img/line98.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Line 98</p>
                </div></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <a class="nav-link" href="/caro">
                        <img class="card-img-top" src="./img/caro.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Caro</p>
                        </div>
                    </div>
                </a>
            </div>
    </div>
    
</div>
