{{!< layout}}

<div>
     <h1>Line 98 Game</h1>
    <table id="gameTable"></table>
    <button id="buttonHelp"  class="btn btn-warning">Help me :D</button>
    <script src="./js/script.js"></script>
</div>